{% extends "base.html.twig" %}


{% block body %}
	<h1>Hello</h1>

	{{form_start(form)}}
	{{form_row(form.username, {'label' : 'Nom d\'utilisateur', 'attr': {'placeholder' : 'Nom d\'utilisateur' }})}}
	{{form_row(form.email, {'label' : 'Email','attr': {'placeholder' : 'adresse email' }})}}
	{{form_row(form.password, {'label' : 'Mot de passe','attr': {'placeholder' : 'mot de passe' }})}}

	<button type="submit" class="btn btn-success">Inscription</button>
	{{ form_end(form)}}
{% endblock %}
