{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<h1>Categories</h1>
	<button type="button" class="btn btn-outline-success">
		<h2>
			<a href="{{ path('category_new') }}">Créer nouvelle catégorie</a><img id="create" src="{{asset('assets/images/articles/create.png') }}"/>
		</h2>
	</button>

	<table class="table">
		<thead>
			<tr>
				{# <th>Id</th> #}
				<th>Toutes les catégories</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					{# <td>{{ category.id }}</td> #}
					<td>{{ category.title }}</td>
					<td>

						<button type="button" class="btn btn-outline-warning">
							<a href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
						</button>
						<button type="button" class="btn btn-outline-success">
							<a href="{{ path('category_edit', {'id': category.id}) }}">Editer</a>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
