{% block title %}{% endblock %}

<link rel="stylesheet" href="{{ asset('style.css') }}"> {% block stylesheets %}{% endblock %}

{% block body %}

	<div id="header">
		<img id="dglogo" src="{{asset('assets/images/articles/dglogo.png') }}"/>
	</div>

	<div id="menu"></div>
	<table class="table">
		<h1>Derniers arrivages</h1>

		<div class="container">
			{% for game in games %}
				<tr>
					<td>{{ game.title }}</td>
				</tr>

				<td>
					<img src="{{ vich_uploader_asset(game, 'imageFile') }}"/>
				</td>

				<tr>
					<td>{{ game.price }}€
						<a href="{{ path('games_show', {'id': game.id}) }}">Go !</a>
					</td>
				</tr>


			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</div>

	</table>
{% endblock %}
