{% block title %}{% endblock %}

<link rel="stylesheet" href="{{ asset('style.css') }}"> {% block stylesheets %}{% endblock %}

{% block body %}

	<div id="header">
		<img id="dglogo" src="{{asset('assets/images/articles/dglogo.png') }}"/>
	</div>

	<div id="menu"></div>
	<h1>Derniers arrivages</h1>

	<div class="table">

		{% for game in games %}
			<p>{{ game.title }}</p>

			<img src="{{ vich_uploader_asset(game, 'imageFile') }}"/>

			<p>{{ game.price }}€
				<a href="{{ path('games_show', {'id': game.id}) }}">Go !</a>
			</p>


		{% endfor %}
	</div>

	<div id="footer"></div>
{% endblock %}
