{% extends 'base.html.twig' %}

{% block title %}Games index
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}

	{# Tableau de listing des jeux #}
	<h1>Liste des jeux</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Tous les jeux</th>
				<th>Descriptions</th>
				<th>Prix</th>
				<th>Stock</th>
				<th>Plateformes</th>
				<th>Catégories</th>
				<th>Actions</th>
				<th></th>
			</tr>
		</thead>
		{# Informations du tableau #}
		<tbody id="myTable">
			<button type="button" class="btn btn-outline-success">
				<h2>
					<a href="{{ path('games_new') }}">Ajouter un jeu</a><img id="create" src="{{asset('assets/images/articles/create.png') }}"/></h2>
			</button>
			{# Début de la boucle #}
			{% for game in games %}
				<tr>
					<td>{{ game.title }}</td>
					<td>{{ game.description }}</td>
					<td>{{ game.price }}€</td>
					<td>{{ game.stock }}</td>
					<td>
						{% for id in game.plateforms  %}
							{{ id.plateforme}}<br>
						{% endfor %}
					</td>
					<td>
						{% for category in game.categories %}
							{{ category.title }}<br>
						{% endfor %}
					</td>

					<td>
						<button type="button" class="btn btn-outline-warning">
							<a href="{{ path('games_show', {'id': game.id}) }}">Voir</a>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-success">
							<a href="{{ path('games_edit', {'id': game.id}) }}">Editer</a>
						</button>
					</td>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% endblock %}
