{% extends 'base.html.twig' %}

{% block title %}Games
{% endblock %}

{% block body %}
	<h1>Jeux</h1>

	<table class="table">
		<tbody></tbody>
	</tr>

	<tr>
		<th>Nom du jeu</th>
		<td>{{ game.title }}</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>{{ game.description }}</td>
	</tr>
	<tr>
		<th>Prix</th>
		<td>{{ game.price }}</td>
	</tr>
	<tr>
		<th>Stock</th>
		<td>{{ game.stock }}</td>
	</tr>
	<tr>
		<th>Console</th>
		<td>
			{% for plateform in game.plateforms %}

				{{ plateform.plateforme }}<br>
			{% endfor %}

		</td>

	</tr>
	<tr>
		<th>Catégorie</th>
		<td>
			{% for category in game.categories %}
				{{ category.title }}<br>
			{% endfor %}

		</td>

	</tr>
	<tr>
		<th>Jaquette</th>


	</tr>

</tbody></table><a href="{{ path('games_index') }}">Retour à la liste</a><a href="{{ path('games_edit', {'id': game.id}) }}">Editer</a>{{ include('games/_delete_form.html.twig') }}{% endblock %}
