{% extends 'base.html.twig' %}

{% block title %}Plateform index
{% endblock %}

{% block body %}
	<h1>Les consoles</h1>
	<button type="button" class="btn btn-outline-success">
		<h2>
			<a href="{{ path('plateform_new') }}">Créer nouvelle console</a><img id="create" src="{{asset('assets/images/articles/create.png') }}"/>
		</h2>
	</button>
	<table class="table">
		<thead>
			<tr>

				<th>Toutes les plateformes</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for plateform in plateforms %}
				<tr>

					<td>{{ plateform.plateforme }}</td>

					<td>
						<button type="button" class="btn btn-outline-warning">
							<a href="{{ path('plateform_show', {'id': plateform.id}) }}">Voir</a>
						</button>
						<button type="button" class="btn btn-outline-success">
							<a href="{{ path('plateform_edit', {'id': plateform.id}) }}">Editer</a>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
